In [124]:
 fruit=["olma", "olcha", "gilos", "anor", "uzum"]
 print("olma", "olcha", "gilo")

olma olcha gilo

In [125]:
# task 2 Create two lists of numbers and concatenate them into a single list. 1-chi usul
nums=[1,2,3,4,5,6,7]
nums2=[8,9,10,11,12]
result=nums+nums2
print(result)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [126]:
# 2 chi usul 
nums.extend(nums2)
print(nums)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [127]:
# 3 chi usul 
result=list(zip(nums,nums2))
print(result)

TypeError: 'list' object is not callable

In [ ]:
#4 chi usul
result=dict(zip(nums,nums2))
result

{1: 8, 2: 9, 3: 10, 4: 11, 5: 12}

In [ ]:
#  task 3, 3. Extract Elements from a List [Given a list of numbers, extract the first,
#  middle, and last elements and store them in a new list.]
numbers=[1,2,3,4,5,6,7,8,9]
first=numbers[0]
middle=numbers[len(numbers)//2]
last=numbers[-1]
result=[first, middle, last]
print(result)

[1, 5, 9]

In [ ]:
num=[1,2,3,4,5,6,7,8,9,10,11,12,13,14]
first=num[0]
middle=num[len(num)//2]
last=num[-1]
y=[first, middle, last]
print(y)

[1, 8, 14]

In [ ]:
nums=[1,2,3,4,5,6,7,8,9,10,11,13,14]
first=nums[0]
middle=nums[len(nums)//2]
last= nums[-1]
result=[first, middle. last]

AttributeError: 'int' object has no attribute 'last'

In [ ]:
list= [10,20,30,40,50,60,70,80,90,50]
first=list[0]
middle=list[len(list)//2]
lastone=list[-1]
result=[first,middle,lastone]
print(result)

[10, 60, 50]

In [ ]:
# 4. Convert List to Tuple
#task 4 Create a list of your five favorite movies and convert it into a tuple.
movies=["merlin","jumong","dengiz_hukmdori", "kungfu_panda", "muzalik_davri"]
movies
tmy_movies=tuple(movies)
print(tmy_movies)
print(type(tmy_movies))

('merlin', 'jumong', 'dengiz_hukmdori', 'kungfu_panda', 'muzalik_davri')
<class 'tuple'>

In [ ]:
#task 5 5. Check Element in a List
 #Given a list of cities, check if "Paris" is in the list and print the result.
cities=["paris", "madrid", "manchester"]
print(cities)
if "paris" in cities:
 print("paris!")
else:
 print("no paris!")

['paris', 'madrid', 'manchester']
paris!

In [ ]:
#task6 6. Duplicate a List Without Using Loops 
#Create a list of numbers and duplicate it without using loops.
numbers=[1,2,3,4,5,6,7,8,9,10]
numbers
duplicate_list=numbers.copy()
print(duplicate_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
num=[1,2,3]
dub_list=num[:]
print(dub_list)

[1, 2, 3]

In [ ]:
numbers=[1,2,3,4]
dub_list=numbers[:]
print(dub_list)

[1, 2, 3, 4]

In [ ]:
numbers=[1,2,3,4]
dub_list=numbers.copy()
print(dub_list)

[1, 2, 3, 4]

In [ ]:
#task 7. Swap First and Last Elements of a List 
#Given a list of numbers, swap the first and last elements.
numbers=[1,2,3,4,5,6,7,8]
a=1
b=8
a,b==b,a
print(a,b)
numbers[0], numbers[7]=numbers[7],numbers[0]
print(numbers)

1 8
[8, 2, 3, 4, 5, 6, 7, 1]

In [ ]:
#task 8
# 8. Slice a Tuple
# Create a tuple of numbers from 1 to 10 and print a slice from index 3 to 7.
t_numbers=1,2,3,4,5,6,7,8,9,10
t_numbers 
print(t_numbers[3:7])

(4, 5, 6, 7)

In [ ]:
#task 9, 9. Count Occurrences in a List
#Create a list of colors and count how many times "blue" appears in the list.
c_colours=["blue","blue","blue","blue", "red"]
c_colours
c_colours.count("blue") 
c_colours=c_colours.count("blue")
print(c_colours)

4

In [ ]:
# task 10 , 10. Find the Index of an Element in a Tuple 
#Given a tuple of animals, find the index of "lion".
Animals="tiger", "lion"
Animals
a_i=Animals.index("lion")
print(a_i)
b_i=Animals.index("tiger")
print(b_i, a_i)

1
0 1

In [ ]:
#task11 Create two tuples of numbers and merge them into a single tuple.

a=1,2,3,4,8,9
b=5,8,10,21,65
d=a+b
print(d)

(1, 2, 3, 4, 8, 9, 5, 8, 10, 21, 65)

In [ ]:
#task12 12. Find the Length of a List and Tuple
#Given a list and a tuple, find and print their lengths.
a=[1,2,3,5,5,20,15]
b=50,5,58
print(a,b)
d_a=len(a)
d_b=len(b)
print(d_a, d_b)

[1, 2, 3, 5, 5, 20, 15] (50, 5, 58)
7 3

In [138]:
t_n=1,5,6,8,7,
t_n

lst=list(t_n)
print(lst)

[1, 5, 6, 8, 7]

In [145]:
#task 14 
#Given a tuple of numbers, find and print the maximum and minimum values. 
t=2, 25, 1,125,854,8
t
max_t=max(t)
min_t=min(t)
print(max_t, min_t)

854 1

In [151]:
#task 15, 15. Reverse a Tuple
#Create a tuple of words and print it in reverse order.
t="anvar","ronaldo","odil", "eldor"
t
x=t[::-1]
x

('eldor', 'odil', 'ronaldo', 'anvar')